language: go
sudo: false
env:
- GO111MODULE=on
services:
- mysql
- mongodb
addons:
  postgresql: "9.5"
before_script:
- psql -c 'CREATE DATABASE dot_test;' -U postgres
- mongo dot_test --eval 'db.createUser({user:"root",pwd:"test",roles:["readWrite"]});'
- bash ./x/lint.sh
notifications:
  email: false
script: bash ./x/coverage.sh
after_success: bash ./x/upload_coverage.sh bash <(curl -s https://codecov.io/bash)
